/*------------------------------------------*/
/* BASIS SETUP */
/*------------------------------------------*/


#ebecf0  #c2000a  #1f4ba1 


* {
  box-sizing: border-box;
}

html {
  font-size: 60%;
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
  line-height: 2;
  font-weight: 350;
  background-color: #ebecf0;
}

p {
  font-size: 2rem;
  line-height: 125%;
  font-weight: 400;
}

section {
  padding: 80px 0;    
}

/*------------------------------------------*/
/* REUSEABLE COMPONETS */
/*------------------------------------------*/

.container {
  /* 1140px */
  max-width: 140rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--1-cols {
  grid-template-columns: repeat(1, 1fr);
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
  
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}



/*------- HEADINGS ------ */

h1, h2, h3, h4 {
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h1 {
  font-size: 4.5rem;
  color: #ffff;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  word-spacing: 4px;
}

h2 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 9.6rem;
  text-align: center;
  margin: 0 auto;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #1ebea9;
  content: "";
  width: 10.6rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 8.6rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: bold;

}

h4 {
  color: #ffff;
  font-size: 2rem;
  font-weight: bold;

}


/*------- ICONS ------ */

ion-icon {
  padding: 1rem;
}

.icon-big {
  font-size: 3.6rem;
  color: #1f4ba1;
  background-color: #fff;
  border-radius: 50%;
  padding: 15px;
}


/*------- LINKS ------ */

.link,
.link:visited {
  display: inline-block;
  color: #4267B2;
  text-decoration: none;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #c2000a;
}

/*------- BUTTONS ------ */

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  padding: 0.5rem 3.2rem;
  border-radius: 20px;
  cursor: pointer;
  font-family: inherit;
  margin-bottom: 1.6rem;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #1f4ba1;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #c2000a;
}


/*------- LIST ------ */

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}


/* *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
} */

/* HELPER/SETTINGS CLASSES */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}
