/**************************/
/* HEADER */
/**************************/

/*#region*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 12rem;
  padding: 0 4.8rem;
  position: relative;
  transition: 0.3s;
}

.header-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0;
}

.logo-name {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.logo {
  height: 8.6rem;
  border: 2px solid #576ee0;
  border-radius: 50%;
}

.my-name {
  text-decoration: none;
  color: var(--tertiary-color);
  font-weight: 700;
  font-size: 2rem;
}

.header.sticky {
  height: 9rem;
}

/*#endregion*/

/*******************************/
/* NAVIGATION */
/*******************************/

/*#region*/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--tertiary-color);
  font-weight: 600;
  font-size: 2rem;
  transition: all 0.6s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #344286;
}

/* MOBILE*/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 3.2rem;
  width: 3.2rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;;
}

/* STCIKY NAV*/

.sticky {
  position: fixed;
  top:0 ;
  bottom: 0;
  width: 100%;
  background: var(--secondary-color);

  z-index: 999;
}

/*#endregion*/

/*------------------------------------------*/
/* SECTION INTRO */
/*------------------------------------------*/

/*#region*/

.intro-section {
  padding: 0 0 8rem 0;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/office.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.015);
  border-radius: 11px;
}


.intro-description {
  margin: 1.6rem;
}

/*#endregion*/

/*------------------------------------------*/
/* SECTION ABOUT-ME */
/*------------------------------------------*/

/*#region*/

.aboutme-section {
  background-color: var(--secondary-color);
}

.aboutme {
  display: grid;
  grid-template-columns: 45fr 55fr;
  align-items: center;
  gap: 4.8rem;
}

.aboutme-container {
  text-align: center;
}

.aboutme-intro {
  color: var(--tertiary-color);
}

.aboutme-btn {
  padding-top: 3.6rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.6s;
}

.gallery-item img:hover {
  transform: scale(1.2);
}

/*#endregion*/

/*------------------------------------------*/
/* SKILL */
/*------------------------------------------*/

/*#region*/

.skills-section {
  padding-bottom: 9.6rem;
}

.skills {
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(12, 10, 10, 0.7)),
    url(img/myskill-background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.015);
  border-radius: 11px;
}

.skill {
  text-align: center;
}

.basic-skills {
  font-size: 2rem;
  text-align: center;
  line-height: 135%;
  list-style: none;
  padding: 4.8rem;
}

.programming-skill {
  list-style: circle;
  font-size: 1.8rem;
  line-height: 135%;
  text-align: left;
  padding: 0 0 4.8rem 3.2rem;
}

/*#endregion*/

/*------------------------------------------*/
/* PROJECTS */
/*------------------------------------------*/

/*#region*/

.projects-section {
  background-color: var(--secondary-color);
}

.experience {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.4s;
  background-color: rgb(41, 39, 39);
}

.experience:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.experience-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.experience-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--frontend {
  background-color: #51cf66;
}
.tag--backend {
  background-color: #302dd8;
}
.tag--mix {
  background-color: #ffd43b;
}

.experience-title {
  font-size: 2.4rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.experience-attributes {
  color: rgb(255, 255, 255);
}

.experience-attributes li {
  font-size: 1.8rem;
  line-height: 1.5;
}

.experience-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.experience img {
  width: 100%;
}

.github-link {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
}

.github-link a {
  color: var(--tertiary-color);
}

.logo-github {
  font-size: 3.6rem;
  color: #000000;
  background-color: #fff;
  border-radius: 50%;
  padding: 0;
}

/*#endregion*/

/*------------------------------------------*/
/*CONTACT/
/*------------------------------------------*/

/*#region*/

.contact-section {
  padding: 9.6rem 0;
}

.contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/team.jpg);
  background-size: cover;
  background-position: center;

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.015);
  border-radius: 11px;
}

.contact-grid {
  display: grid;
  grid-template-columns: 40fr 60fr;
  gap: 9.6rem;
  align-items: center;

  padding: 4.6rem;
}

.contact-info {
  text-align: center;
  color: #fff;
}

.avatar-big {
  height: 20rem;
  border-radius: 50%;
  border: 3px solid #dfe3e6;
}

.logo-link ion-icon {
  color: rgb(255, 255, 255);
  height: 60rem;
}

.contact-form {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  color: #dfe3e6;
  background-color: #576ee0;
}

.contact-text-box {
  padding: 1.8rem 3.6rem;
}

.contact-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 1.2rem 0 1.2rem 0;
  text-align: left;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contact-form textarea {
  height: 12rem;
  margin-bottom: 2.4rem;
}

.contact-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem #4658b3;
}

/*#endregion*/
